<!DOCTYPE html>
<html>
	<head>
		<title>customer view</title>
		<style>
		#contentWrapper{
			width:100%;
		}
		
		.center-container {
			margin: auto;
			width: 100vmin;
			justify-content: center;
			text-align: center;
			
			border: 5px solid;
			padding: 50px 0;
		}


		button {
			border:none;
			background:#2c3473;
			color:white;
			border:2px solid #2c3473;
			margin:10px;
			padding:10px 5px;
			border-radius:5px;
			cursor:pointer;
		}

		button.selected {
			background:white;
			color:#2c3473;
		}

		button:focus {
			text-decoration:underline;
		}

		button.neutral{
			background:#444 ;
			border:none;
		}
		
		.main-grid-items {
			display: grid;
			grid-template-columns: repeat(2, 100px);
            grid-template-rows: repeat(6, 100px);
            margin:0px 50px;
            height:500px;
            grid-gap:0px;

		}
		</style>

	</head>
	<body>
		<div class="center-container">
			<h2>What Looks Good Today?</h2>
			<div>
				<table>
					<tr>
						<td>
							<div class="btn-vertical main-grid-items">
								<% for(let productDef of productDefs) { %>
								<button onclick="loadNewProduct(<%=productDef.id%>)" id="productDef_button_<%=productDef.id%>"><%=productDef.name%></button>
								<% } %>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<button>⮜ previous</button>
				<button>Next ⮞</button>
			</div>
		</div>
	</body> 
</html>