<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
        <%- include("manager/head.ejs"); %>
    </head>
    <body>
        <div class="center-content">
            <%- include("logo.ejs") %>
            <h1>Pom and Honey POS</h1>
            <a href="/manager/summary"><button>Manager View</button></a>
            <a href="/server"><button>Server View</button></a>
            <div id="google_translate_id"></div>
        </div>
        
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script>
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    {pageLanguage: 'en'}, 'google_translate_id'
                )
            }
        </script>
    </body>
</html>
