<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <%- include("manager/head.ejs"); %>
    </head>
    <body>
        <%- include("logo.ejs") %>
        <div>
          <h1>Pom and Honey POS</h1>
          <a href="/manager/summary"><button>Manager View</button></a>
          <a href="/server"><button>Server View</button></a>
        </div>

    </body>
</html>
