<img style="width:200px;" src="/assets/logo.png">
<h1>Manager View</h1>
<a href="/manager/summary"><button>Summary</button></a>
<a href="/manager/orders"><button>Orders</button></a>
<a href="/manager/items"><button>Items</button></a>
