<div class="center-header">
    <%- include("../logo.ejs") %>
  <h1>Manager View</h1>
  <a href="/manager/summary"><button>Summary</button></a>
  <a href="/manager/orders"><button>Orders</button></a>
  <a href="/manager/items"><button>Items</button></a>
</div>
