<!DOCTYPE html>
<html>
<head>
    <%- include("head") %>
    <title>Summary | Manager</title>
</head>
<body>
    <%- include("header") %>
    <p>Total Sales: $<%=sales.toLocaleString()%></p>
    <%- include("scripts") %>        
</body>
</html>
